.primaryNav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  border: 1px solid black;
  width: 100vw;
}

.primaryNav a{
  font-size: 25px;
  text-decoration: none;
  color: black;
  padding: 20px;
  width: auto;
}

.primaryNav a:hover{
  color:red;
  background-color: black;
}